{{#each this}}
<div class="photo-card">
    <a href="{{largeImageURL}}">
    <img class="image-card" src="{{webformatURL}}" alt="{{tags}}" loading="lazy" width="280" height="200"/>
    </a>
    <div class="info">
        <p class="info-item">
            <b>Likes <span>{{likes}}</span></b>
        </p>
        <p class="info-item">
            <b>Views <span>{{views}}</span></b>
        </p>
        <p class="info-item">
            <b>Comments <span>{{comments}}</span></b>
        </p>
        <p class="info-item">
            <b>Downloads <span>{{downloads}}</span></b>
        </p>
    </div>
</div>
{{/each}}